Node-Red/Flows/Examples/email/email.json
[
    {
        "id": "b9c1ce22.2f85c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5de751f.070e78",
        "type": "dsf-event",
        "z": "b9c1ce22.2f85c",
        "name": "Status Change",
        "interval": "0",
        "delta": "0",
        "modelPath": "state.status",
        "outputs": 1,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "b1f7f8fa.c30328"
            ]
        ]
    },
    {
        "id": "88dfedd.90fe61",
        "type": "link in",
        "z": "b9c1ce22.2f85c",
        "name": "Connect to Monitor Node",
        "links": [
            "da8792ea.5e9dd"
        ],
        "x": 295,
        "y": 300,
        "wires": [
            [
                "b5de751f.070e78"
            ]
        ]
    },
    {
        "id": "35590bc0.782754",
        "type": "change",
        "z": "b9c1ce22.2f85c",
        "name": "Set email subject and body",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ALERT! e-mail from NodeDSF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The printer is busy",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "7d00e61c.036c18",
                "8007605b.89df8"
            ]
        ]
    },
    {
        "id": "b1f7f8fa.c30328",
        "type": "switch",
        "z": "b9c1ce22.2f85c",
        "name": "Is Busy?",
        "property": "msg.dsf.eventValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "busy",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "35590bc0.782754"
            ]
        ]
    },
    {
        "id": "8007605b.89df8",
        "type": "e-mail",
        "z": "b9c1ce22.2f85c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Send email",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "7d00e61c.036c18",
        "type": "debug",
        "z": "b9c1ce22.2f85c",
        "name": "debug output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 360,
        "wires": []
    }
]
